@font-face {
	font-family: Biko-Light-Upper;
	src: url("../fonts/Biko_Light-Restricted.otf");
}
@font-face {
	font-family: Biko-Regular;
	src: url("../fonts/Biko_Regular.otf");
}
@font-face {
	font-family: Biko-Bold;
	src: url("../fonts/Biko_Bold.otf");
}
@font-face {
	font-family: Stockholm;
	src: url("../fonts/Stockholm_Mono.ttf");
}
@font-face {
	font-family: Brasilia;
	src: url("../fonts/Brasilia.ttf");
}
html {}
body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow:hidden;background:#2b2b2b;
	font-family: Biko-Regular;
	font-size:30px;
	height:100vh;
	overflow-y: scroll;
	overflow-x: hidden;
}
p {font-size:23px;}
a { color:#f78b1c; }
a:hover {color:#b56513}

h2 {font-size:55px;}

nav {
	z-index:100;
	position:fixed;
	background: rgba(128, 128, 128, 0.52);
	max-height:120px;
	height:1200px;
	right:0;
	left:0;
	cursor:default;
	transition: max-height .5s;
}
nav.shrink { max-height:70px; }
nav.shrink .nav-link-box {min-height:55px;} 
nav.shrink .nav-link-tile {display:none;}


/*#f78b1c #6cc8af #eddfba #e74612; */
.font-blue {color:#6cc8af;}
.font-light-orange{color: #FFC88D;}
.font-orange {color:#f78b1c;}

.font-lines { border-top:2px solid #FFC88D
	; border-bottom:2px solid #FFC88D; display:inline-block; }



/* NAV STYLES background:#eddfba;*/
.nav-container {height:100%;background:#676767;}
#logo {font-size:60px; line-height:50px; font-family:Biko-Bold;}
#logo-text {margin-top:10px;}
#logo-fn {color:#f4b26c;}
#logo-ln {padding-left:210px;}
.inline {display:inline-block; height:70px;}
#logo-ln.inline {padding-left: 5px !important;}
/*.logo-shrink { background:#c8432e; padding: 5px;margin-top: 5px; width: 390px; border-radius: 7px;}*/

#nav-list { }
.nav-link-box {width:155px; min-height:155px; position:relative;cursor:pointer;  display:inline-block; display:inline-block;
				border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; transition: min-height .5s;}
.nav-link-box > * {position:absolute;}
.nav-link-title {width:100%; text-align:center; bottom:0;font-size:25px;}
.nav-link-tile { visibility:hidden; width:80px; height:80px; margin: 0 auto; opacity: 0;left:0; right: 0;top:20px; text-align:center;line-height:80px;}
.nav-link-tile > * {width:50%;}
.nav-link-go { font-weight:bold;  background:grey; border-radius: 40px;}

#nav-link-resume {background:#f78b1c;}
#nav-link-projects {background:#6cc8af;}
#nav-link-linkedin {background:#eddfba;}


/* MAIN CONTAINER */
#canvas-wrapper {position:fixed;}
#canvas {position:fixed;}
#main-pane {box-shadow: 0px 0px 15px 2px #080808;color: #f3ecdb;min-height: 100vh;padding:140px 100px 0px; top: 0; margin:0 auto; position:relative;background: rgba(128, 128, 128, 0.38);}
#content {height:100%;}

#profile-circle {margin-top: 25px;width:200px;height:200px; border-radius:100px; overflow:hidden;float:right;}
#profile-circle > img { width:100%; }


/* PROFICIENCY TABLE */
#proficiency-table {width:90%; margin: 0 auto;}
#prof-table-axis { width:150px; }
#prof-table-item {}

/* FOOTER */
#footer {bottom:0; left:0; right:0; 
	position:fixed; height:50px; width:100%; background: rgba(128, 128, 128, 0.52);}
#footer-contact-section{ margin-right:5px; position:absolute; right:0; }
#footer-contact-button {background:#f78b1c; margin-top:5px; padding:0 6px; border-radius: 5px; cursor:pointer; display:inline-block;}

#footer-pixel-wrapper {visibility:hidden; width:270px; display:inline-block;position:relative;}
#pixel-self-portrait { top:-170px; position:absolute; }
#pixel-phone {position:absolute; top:-168px; left:137px; height:100px; }
#footer-contact-info {padding:8px;line-height: 32px;user-select:initial; width:260px;height:110px;background:#6cc8af; position:absolute; top:-152px; right:-180px; border-radius:5px;}

#copy-button {border-radius:5px;cursor:pointer;font-size: 17px; background:#FFC88D; text-align:center; margin-left:auto;}
#copy-button:hover {background:#c89661;}
#copied-notif {    color: #4c4c4c;
    top: -195px;
    background: #ffc88d;
    border-radius: 5px;
    padding: 3px;
    z-index: -1;
    right: -175px;
    position: absolute; display:none;}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}


/* PROJECTS PAGE #f78b1c #6cc8af #eddfba #e74612*/
#timeline-wrapper{position:relative;}
#timeline-bar{width:12px; height:400px; position:absolute; top:-60px;left:-40px;border-radius:10px;background:#f78b1c;}

.timeline-item{position:relative;width:100%; height:200px; background:#676767; margin-bottom:35px; margin-top:5px; border-radius:5px;}
.timeline-icon{top:11px;left:-47px; width:25px; height:25px; border: solid 2px #4c8e7c; border-radius:20px; background:#6cc8af; position:absolute;transition: all .25s ease-in-out;}
.timeline-icon-large{top:-15px;left:-11px; width:33px; height:33px; border: solid 5px #4c8e7c; border-radius:20px; background:#6cc8af; position:absolute;}
.timeline-item-title{width:100%; height:45px; background:#383737; border-top-right-radius: 5px;border-top-left-radius: 5px;}

/*small icon hover animation*/
.timeline-item:hover .timeline-icon{ box-shadow: 0px 0px 9px 2px #6cc8af;transform: scale(1.2, 1.2)}